<details class="comments" id="data-comments">
	<summary aria-label="Toggle to show or hide comments." id="legend-comments">Show Comments</summary>
	<p class="comments-notice">
		This blog uses <a href="https://github.com/giscus/giscus" target="_blank" rel="noopener noreferrer">Giscus</a> to manage comments via GitHub Discussions. (<a href="https://github.com/giscus/giscus/blob/main/PRIVACY-POLICY.md" target="_blank" rel="noopener noreferrer">Privacy Policy here</a>).
		If you do not want to allow a third-party app to comments on your behalf, you can also leave comments directly on GitHub by visiting the 
		<a href="https://github.com/kitsumed/blog/discussions/categories/blog-comments" target="_blank" rel="noopener noreferrer">Blog Comments section</a>.
	</p>
	<div class="comments" id="giscus-comments">
		{{- $jsComments := resources.Get "js/comments-giscus.js" | resources.Minify | fingerprint -}}
		<script
			src="{{ $jsComments.RelPermalink }}"
			integrity="{{ $jsComments.Data.Integrity }}"
			defer
		>
		</script>
	</div>
	<noscript>JavaScript is required to load comments.</noscript>
</details>